@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
  padding-bottom: 60px;
}

div.alternating:nth-of-type(odd) {
  background-color: #ddd;
}

div.alternating:nth-of-type(even) {
  background-color: #ccc;
}

.input-box {
  padding: 10px;
}

.white {
  color: white;
}

.message {
  padding-top: 10px;
}

textarea {
  width: 100%;;
}

